@media only screen and (max-width: 500px) {
  .home {
    width: 100%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: none;
  }

  .footer {
    position: fixed;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    opacity: 1;
  }

  .footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .footer li {
    display: flex;
    justify-content: space-between;
  }

  .link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link.active {
    display: flex;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .info-text {
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .info-text h1 {
    color: white;
    text-align: center;
    font-size: 33px;
    width: 100%;
  }

  .info-text h3 {
    color: rgb(56, 56, 255);
    margin: 10px 0;
    text-align: center;
  }

  .info-text p {
    color: white;
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
  }

  .info-slika img {
    width: 200px;
    margin-top: 20px;
    padding-bottom: 85px;
    border-radius: 20px;
  }

  /*     ABOUT     */

  .about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 50px auto;
    color: white;
  }

  .abouth4 {
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
  }

  .about-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .about-images {
    padding-bottom: 25px;
  }

  .about-images ul {
    list-style: none;
    display: flex;
    margin: 45px 0;
    gap: 45px;
  }

  .about-images img {
    width: 65px;
  }

  /*     SKILLS       */

  .graf {
    display: none;
  }

  .graf2 {
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
    padding-right: 20px;
  }

  /*     PROJECTS     */
  .projects {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto 65px auto;
    gap: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .projectsh4 {
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
  }

  .project-card {
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
  }

  .project-card img {
    width: 350px;
  }

  /*   CONTACT   */

  .contact {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 50px auto;
    color: white;
    justify-content: center;
    gap: 100px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .isto {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto 15px auto;
    justify-content: center;
  }

  .contact-card p {
    font-size: 20px;
    text-align: center;
  }

  .contact-spodaj {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px auto 0 auto;
    padding-bottom: 100px;
  }

  .contacth4 {
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
  }
}
